<html>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Categories</h1>

        {% if categories is not empty %}
            <p>Here are all your categories:</p>
            <ul>
                {% for category in categories %}
                    <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/categories' method='post'>
            <label for='name'>Category name</label>
            <input id='name' name='name' type='text'>

            <button type='submit'>Add category</button>
        </form>
        <form action='/delete_categories' method='post'>
            <button type='submit'>Clear</button>
        </form>

        <p><a href='/'>Home</a></p>
    </body>
</html>
